///------------------------font
$font_family: Dana;
$font_size: 15px;

///-------------------------color

$white: #ffffff;
$black: #000000;

$gray500: #7e7e7e;

$dark500: #3e3e3e;
$dark700: #343333;
$dark800: #1c1c28;

$gold200: #ffd046;

$lightBlue500: #d8e8ff;

$pink500: #f34572;
